{{ ansible_managed | comment }}
version: "3"
services:
  nextcloud:
    image: nextcloud/all-in-one:latest
    restart: always
    container_name: nextcloud-aio-mastercontainer
    volumes:
      - nextcloud_aio_mastercontainer:/mnt/docker-aio-config
      - /var/run/docker.sock:/var/run/docker.sock:ro
    ports:
      - 8080:8080
    environment:
    - APACHE_PORT=11000
    - APACHE_IP_BINDING=0.0.0.0
    - COLLABORA_SECCOMP_DISABLED=true
    - NEXTCLOUD_DATADIR=/mnt/data
    - NEXTCLOUD_MOUNT=/mnt/
    - NEXTCLOUD_UPLOAD_LIMIT={{ nextcloud_php_max_upload_size_gb }}G
    - NEXTCLOUD_MAX_TIME=3600
    - NEXTCLOUD_MEMORY_LIMIT={{ nextcloud_php_max_mem_mb }}M
    - NEXTCLOUD_STARTUP_APPS=deck twofactor_totp tasks calendar contacts notes memories richdocuments -photos
    - NEXTCLOUD_ADDITIONAL_APKS=intel-media-driver imagemagick
    - NEXTCLOUD_ADDITIONAL_PHP_EXTENSIONS=imagick
    - NEXTCLOUD_ENABLE_DRI_DEVICE={{ nextcloud_enable_dri }}
    - TALK_PORT=3478
    - WATCHTOWER_DOCKER_SOCKET_PATH=/var/run/docker.sock
    - SKIP_DOMAIN_VALIDATION=true
    networks:
    - nextcloud-aio

volumes:
  nextcloud_aio_mastercontainer:
    name: nextcloud_aio_mastercontainer

networks:
  nextcloud-aio:
    name: nextcloud-aio
    driver: bridge
    driver_opts:                         
      com.docker.network.driver.mtu: 1420
