{{ ansible_managed | comment }}
version: "3"
services:
  vaultwarden:
    image: vaultwarden/server:latest
    restart: always
    container_name: vaultwarden
    volumes:
      - vaultwarden:/data
    ports:
      - 8989:80
    environment:
      - WEBSOCKET_ENABLED=true
      - INVITATIONS_ALLOWED=true
      - SIGNUPS_ALLOWED=true
    networks:
    - vaultwarden

volumes:
  vaultwarden:
    name: vaultwarden

networks:
  vaultwarden:
    name: vaultwarden
    driver: bridge
    driver_opts:                         
      com.docker.network.driver.mtu: 1420
