{{ ansible_managed | comment }}
version: "3"
services:
  prowlarr:
    image: lscr.io/linuxserver/prowlarr:latest
    restart: unless-stopped
    container_name: prowlarr
    volumes:
      - prowlarr-config:/config
    ports:
      - 9696:9696
    environment:
      - PUID=1001
      - PGID=1001
      - TZ=Etc/UTC
    networks:
    - med-dl

  radarr:
    image: lscr.io/linuxserver/radarr:latest
    restart: unless-stopped
    container_name: radarr
    volumes:
      - radarr-config:/config
      - /mnt/data/downloads:/mnt/data/downloads
      - /mnt/data/mov:/mov
    ports:
      - 7878:7878
    environment:
      - PUID=1001
      - PGID=1001
      - TZ=Etc/UTC
    networks:
    - med-dl

  sonarr:
    image: lscr.io/linuxserver/sonarr:latest
    restart: unless-stopped
    container_name: sonarr
    volumes:
      - sonarr-config:/config
      - /mnt/data/downloads:/mnt/data/downloads
      - /mnt/data/tv:/tv
    ports:
      - 8989:8989
    environment:
      - PUID=1001
      - PGID=1001
      - TZ=Etc/UTC
    networks:
    - med-dl

volumes:
  prowlarr-config:
    name: prowlarr-config
  radarr-config:
    name: radarr-config
  sonarr-config:
    name: sonarr-config

networks:
  med-dl:
    name: med-dl
    driver: bridge
    driver_opts:                         
      com.docker.network.driver.mtu: 1420

